.formContainer {
	display: flex;
	flex-direction: column;
	padding: 30px 20%;
}

.formItem {
	margin: 8px 0px;
}

.formInput {
	width: 100%;
	font-family: Outfit;
	padding: 5px;
}

.submitBtn {
	font-family: Outfit;
	cursor: pointer;
	padding: 5px 10px;
}
